<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="../static/dsmenu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="header-bar">
        <h1 class="header-text">MÓDULO CONTABILIDAD</h1>
        <a class="logout-button" href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
    </div>  

<!-- Función recursiva para renderizar menús jerárquicos -->
<!--Definir la funcion render_menu para tomar los datos de menu -->
{% macro render_menu(menu) %}
    <ul class="dropdownmenu">
        <!-- Iterar para obtener el nombre del menu y submenus si existen-->
        {% for menu_item, sub_menu in menu.items() %}
            <li>
                <a href="#">{{ menu_item }}</a>
                <!-- Verificar si hay un submenu asociado al elemento utilizado-->
                {% if sub_menu %}
                    {{ render_menu(sub_menu) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

    <!-- Llama a la función recursiva con el menú raíz -->
    {{ render_menu(menu_hierarchy) }}

</body>
</html>
